<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/notices/tabs/personal"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Noticia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>      
      <ion-col>        
        <ion-card>          
          <ion-card-header>
            <ion-card-subtitle text-center> {{nombreArchivo}} </ion-card-subtitle>            
          </ion-card-header>                    
          <ion-card-content>        
            <p> {{mensaje}} </p>            
          </ion-card-content>
        </ion-card>
      </ion-col>            
    </ion-row>
    <ion-row>      
      <ion-col>        
        <ion-button color="primary" expand="block" (click)="download()">          
          <ion-icon name="download" slot="icon-only"></ion-icon>          
        </ion-button>   
      </ion-col>            
    </ion-row>
  </ion-grid>
</ion-content>    
