.disabled {      
      pointer-events: none;      
      border: none;
      color: #999999;
}
.enabled {      
      pointer-events: all;      
      border: dashed;
      color: #000000;
}
.no-visible {
 visibility: hidden !important;
 display: none !important;
}