<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vacations"></ion-back-button>
    </ion-buttons>
    <ion-title>Vacaciones modificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="visible">    
  <ion-grid>    

    <form #myform="ngForm">
      <ion-row>

        <ion-col> 

          <ion-list>                                                      

            <ion-item *ngFor="let item of listDaysDefault" [disabled]="item.estatusFormat == 'PM'"> 
              <ion-checkbox color="dark" (ionChange)="addCheckbox($event,item.idVacaciones)" style="margin-right: 2em;"></ion-checkbox>                 
              <ion-label>
                <ion-datetime
                  cancelText="Cancelar" 
                  doneText="Aceptar"
                  placeholder="{{item.fecha}}"                              
                  displayFormat="DD/MM/YYYY"                  
                  name={{item.idVacaciones}}
                  ngModel required                    
                  max="2022-01-01"
                  class="disabled"
                  id={{item.idVacaciones}}
                  (ionChange)="dataFromList(item.idVacaciones, myform)"
                >
                </ion-datetime>
              </ion-label>                                     
            </ion-item>    

          </ion-list>           

        </ion-col>
      </ion-row>

    </form>

  </ion-grid>    

  <ion-grid>
    <ion-row>                                                            
      <ion-col *ngIf="this.btnImprimir">   
        <ion-button color="primary" expand="block" (click)="impress()">  
          <ion-icon name="print" slot="icon-only"></ion-icon>          
        </ion-button>        
      </ion-col>      
      <ion-col>   
        <ion-button color="primary" expand="block" (click)="refresh()" [disabled]="!this.visibleButton">  
          <ion-icon name="refresh" slot="icon-only"></ion-icon>          
        </ion-button>        
      </ion-col>      
      <ion-col>
        <ion-button color="primary" expand="block" (click)="saveUpdate()" [disabled]="!this.visibleButton">
          <ion-icon name="folder"></ion-icon>    
        </ion-button>
      </ion-col>                                                         
    </ion-row>
    
  </ion-grid>


</ion-content>