<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nómina</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>     
  
  <ion-grid>    
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" text-center>          
          <ion-virtual-scroll 
            [items]="_payroll" 
            approxItemHeight="70px"
          >
            <ion-item  *virtualItem="let payroll">
              <ion-label>
                <h2>{{ payroll.fechaPago }}</h2>
                <p>{{ payroll.nombreFolio }} --- {{ payroll.consolidationSetId }} </p>
              </ion-label>
            </ion-item>
          </ion-virtual-scroll>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-button  color="primary" expand="block" href="https://devdactic.com/html/5-simple-hacks-LBT.pdf" target="blank"> PDF </ion-button>

</ion-content>     


