<ion-header>
  <ion-toolbar>    
  </ion-toolbar>
</ion-header>
<ion-content padding>  
  <ion-grid>
      <ion-row>
        <ion-col size="2">                    
        </ion-col>
        <ion-col size="8">                    
          <img src="../../assets/icon/logo.png">
        </ion-col>
        <ion-col size="2">                    
        </ion-col>
    </ion-row>
  </ion-grid>  
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>      
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Usuario</ion-label>
              <ion-input type="text" ngModel name="user" required #userCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item>                          
              <ion-label position="floating">Contraseña</ion-label>              
              <ion-input [type]="showPassword ? 'password' : 'text'" ngModel name="password" required minlength="3" #passwordCtrl="ngModel"></ion-input>                                          
              <ion-icon [name]="showPassword ? 'eye-off' : 'eye'" (click)="onPasswordToggle()" slot="end" style="margin-top: 20px;"></ion-icon>              
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
              <ion-label>
                Debe ser mayor a 3 caracteres
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="primary"            
            expand="block"            
            [disabled]="!f.valid"
          >
            Iniciar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>