<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title>Avisos generales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="visible">  

  <ion-grid *ngIf="descripcionAvisoGeneral" text-center>
    <h4>{{ descripcionAvisoGeneral }}</h4> 
    <ion-row text-center>                 
      <pinch-zoom>
        <ion-img 
          src="data:image/jpeg;base64, {{archivoBase64}}" 
          alt="Noticia"
          style="height: 100%; width: 100%;"
        >
        </ion-img>  
      </pinch-zoom>                                                  
    </ion-row>

    <ion-row>      
      <ion-col *ngIf="descripcionAvisoGeneral">                 
          <ion-list>
            <ion-item
              button
              *ngFor="let notice of listGeneral" 
              (click)="show(notice.idArchivo, notice.descripcionAvisoGeneral, notice.archivoBase64)"
              [routerLink]="[]" detail
            >                
              <ion-label>
                {{ notice.descripcionAvisoGeneral }}
                <h5></h5>
                <p></p>  
              </ion-label>                              

            </ion-item>
          </ion-list>                          
      </ion-col>            
    </ion-row>
  </ion-grid>

</ion-content>