// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #000000;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5c5c5c;
  --ion-color-primary-tint: #b3b3b3;

  /** secondary **/
  --ion-color-secondary: #999999;
  --ion-color-secondary-rgb: 56, 128, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5c5c5c;
  --ion-color-secondary-tint: #b3b3b3;

  /** tertiary **/
  --ion-color-tertiary: #000000;
  --ion-color-tertiary-rgb: 56, 128, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5c5c5c;
  --ion-color-tertiary-tint: #b3b3b3;

  /** success **/
  --ion-color-success: #000000;
  --ion-color-success-rgb: 56, 128, 255;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #5c5c5c;
  --ion-color-success-tint: #b3b3b3;

  /** warning **/
  --ion-color-warning: #000000;
  --ion-color-warning-rgb: 56, 128, 255;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #5c5c5c;
  --ion-color-warning-tint: #b3b3b3;

  /** danger **/
  --ion-color-danger: #000000;
  --ion-color-danger-rgb: 56, 128, 255;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #5c5c5c;
  --ion-color-danger-tint: #b3b3b3;

  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 56, 128, 255;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #5c5c5c;
  --ion-color-dark-tint: #b3b3b3;

  /** medium **/
  --ion-color-medium: #000000;
  --ion-color-medium-rgb: 56, 128, 255;;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5c5c5c;
  --ion-color-medium-tint: #b3b3b3;

  /** light **/
  --ion-color-light: #000000;
  --ion-color-light-rgb: 56, 128, 255;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #5c5c5c;
  --ion-color-light-tint: #b3b3b3;

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
 
}



