<ion-app>

  <ion-menu side="start">    
    <ion-header>
      <ion-toolbar>
        <ion-title>
          CNH
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <ion-list> 

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/profile">
            <ion-icon name="contact" slot="start"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>
        </ion-menu-toggle>        

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/notices">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Avisos</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/payroll">
            <ion-icon name="card" slot="start"></ion-icon>
            <ion-label>Recibos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/vacations">
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-label>Vacaciones</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/licenses">
            <ion-icon name="bookmark" slot="start"></ion-icon>
            <ion-label>Licencias</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-menu-toggle>        

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>  
</ion-app>
