<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="visible">
  <ion-grid>    
    <ion-row class="custom">
      <ion-col>
        <div>
          <ion-avatar class="image">
            <ion-img src="data:image/jpeg;base64, {{ fotoBase64 }}"></ion-img>
          </ion-avatar>
        </div>        
      </ion-col>
    </ion-row>
    <ion-row>      
      <ion-col text-center>        
        <h3>{{ nombre }}</h3>         
        <ion-card text-center>                           
          <ion-list>
            <ion-item>
              <ion-label>            
                <h3>RFC</h3>
                <p>{{ rfc }}</p>
              </ion-label>
            </ion-item>
            <ion-item>  
              <ion-label>            
                <h3>Unidad</h3>
                <p>{{ unidad }}</p>
              </ion-label>
            </ion-item>
            <ion-item>  
              <ion-label>            
                <h3>Puesto</h3>
                <p>{{ puesto }}</p>
              </ion-label>
            </ion-item>            
            <ion-item>  
              <ion-label>            
                <h3>Cargo</h3>
                <p>{{ cargo }}</p>
              </ion-label>
            </ion-item>
            <ion-item>  
              <ion-label>            
                <h3>Nivel</h3>
                <p>{{ nivel }}</p>
              </ion-label>
            </ion-item>
            <ion-item>  
              <ion-label>            
                <h3>Fecha ingreso</h3>
                <p>{{ fechaIngresoFormat }}</p>
              </ion-label>
            </ion-item>         
            <h3>{{ numeroEmpleado }}</h3>                          
          </ion-list>        
        </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

