<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col text-center>        
        
        <ion-card>
          <ion-img src="data:image/jpeg;base64, {{fotoBase64}}"></ion-img>     
          <ion-card-header>
            <ion-card-subtitle>{{ nombre }} {{ numeroEmpleado }}</ion-card-subtitle>
            <ion-card-title>{{ rfc }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ unidad }}</p>
            <p>{{ puesto }}</p>
            <p>{{ cargo }}</p>
            <p>{{ nivel }}</p>            
            <p>{{ fechaIngresoFormat }}</p>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

