<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title>Avisos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding *ngIf="visible">
  <ion-grid>
    <ion-row>
      <ion-col>                
        <ion-list>          
          <ion-item 
            button
            *ngFor="let notice of listPersonal"
            [routerLink]="['/', 'notices', 'tabs', 'personal', notice.idArchivo, notice.nombreArchivo, notice.mensaje]" detail
          >
            <ion-label>
              <h5>{{ notice.nombreArchivo }}</h5>
              <p> {{ notice.mensaje }}</p>
            </ion-label>
            <ion-icon name="arrow-forward" end></ion-icon>
          </ion-item>                      
        </ion-list>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
