<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/licenses"></ion-back-button>
    </ion-buttons>
    <ion-title>Licencias médicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let historical of historicalArray">
      <ion-col>
        <div>
          <ion-list>
            <ion-item>
              <ion-label> Clave del ISSTE: {{historical.keyIssste}}</ion-label>
              <ion-select interface="popover">
                <ion-select-option value="1"> Fecha de inicio: {{historical.startDate}} </ion-select-option>
                <ion-select-option value="2"> Fecha fin: {{historical.endDate}} </ion-select-option>
                <ion-select-option value="3"> Fecha de recepción: {{historical.receptionDate}} </ion-select-option>
                <ion-select-option value="4"> Diagnostico: {{historical.diagnostico === '' ? null : 'Sin dato'}}</ion-select-option>
                <ion-select-option value="5"> Riesgo: {{historical.riesgoTrabajo === '' ? null : 'Sin dato'}} </ion-select-option>
                <ion-select-option value="6"> Años aniversario: {{historical.anniversaryYear}} </ion-select-option>
                <ion-select-option value="7"> Días con goce: {{historical.diasConGoce}} </ion-select-option>
                <ion-select-option value="8"> Días con medio goce: {{historical.diasMedioGoce}} </ion-select-option>
                <ion-select-option value="8"> Días con sin goce: {{historical.diasSinGoce}} </ion-select-option>
              </ion-select>      
            </ion-item>                  
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
