<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/notices/tabs/general"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>      
      <ion-col>        
        <ion-card>          
          <ion-card-header>
            <ion-card-subtitle text-center>{{ description }}</ion-card-subtitle>            
          </ion-card-header>                    
          <ion-card-content>                                
            <ion-img src="data:image/jpeg;base64, {{base64}}" alt="Noticia" style="height: 10rem;"></ion-img>                            
          </ion-card-content>
        </ion-card>
      </ion-col>            
    </ion-row>
  </ion-grid>

</ion-content>
