<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title>Licencias médicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card *ngIf="!cardNotFound">
  <ion-card-header>
    <ion-card-subtitle text-center> Licencias médicas </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content text-center>    
    <p> Sin resultados encontrados.</p>
  </ion-card-content>
</ion-card> 


<ion-content padding *ngIf="visible">
  <ion-grid>
    <ion-row *ngFor="let licenses of licensesArray">
      <ion-col>
        <div>
          <ion-list>
            <ion-item>
              <ion-label>Dias de aniversario: {{licenses.anniversaryYear}}</ion-label>
              <ion-select interface="popover">
                <ion-select-option value="1"> Días con pago: {{licenses.daysWithPay}} </ion-select-option>
                <ion-select-option value="2"> Cantidad de días con pago: {{licenses.qtyDaysWithPay}} </ion-select-option>
                <ion-select-option value="3"> Días con mitad de pago: {{licenses.daysWithHalfPay}} </ion-select-option>
                <ion-select-option value="4"> Cantidad de días con mitad de pago: {{licenses.qtyDaysWithHalfPay}} </ion-select-option>
                <ion-select-option value="5"> Cantidad de días sin pago: {{licenses.qtyDaysWithoutPay}} </ion-select-option>
                <ion-select-option value="6"> Días de maternidad: {{licenses.maternity}} </ion-select-option>
                <ion-select-option value="7"> Cantidad de días de maternidad: {{licenses.qtyMaternity}} </ion-select-option>
              </ion-select>      
            </ion-item>                  
          </ion-list>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-list>
            <ion-item 
              button
              [routerLink]="['/', 'licenses', 'licenses-detail', licenses.anniversaryYear]" detail
            >
              <ion-label>                
                <h5></h5>
                <p></p>
              </ion-label>                                               
            </ion-item>
          </ion-list>    
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>