<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title>Licencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="visible">  

  <ion-grid>
    <ion-row *ngFor="let licenses of licensesArray">
      <ion-col>
        <div>
          <ion-list>
            <ion-item>
              <ion-label>Dias de aniversario: {{licenses.anniversaryYear}}</ion-label>
              <ion-select interface="popover">
                <ion-select-option value="1" style="color: black;"> daysWithPay {{licenses.daysWithPay}} </ion-select-option>
                <ion-select-option value="2" style="color: black;"> qtyDaysWithPay {{licenses.qtyDaysWithPay}} </ion-select-option>
                <ion-select-option value="3" style="color: black;"> daysWithHalfPay {{licenses.daysWithHalfPay}} </ion-select-option>
                <ion-select-option value="4" style="color: black;"> qtyDaysWithHalfPay {{licenses.qtyDaysWithHalfPay}} </ion-select-option>
                <ion-select-option value="5" style="color: black;"> qtyDaysWithoutPay {{licenses.qtyDaysWithoutPay}} </ion-select-option>
                <ion-select-option value="6" style="color: black;"> maternity {{licenses.maternity}} </ion-select-option>
                <ion-select-option value="7" style="color: black;"> qtyMaternity {{licenses.qtyMaternity}} </ion-select-option>
              </ion-select>      
            </ion-item>                  
          </ion-list>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-list>
            <ion-item
              button
              [routerLink]="[]" detail
            >                
              <ion-label>                
                <h5></h5>
                <p></p>
              </ion-label>                                               
            </ion-item>
          </ion-list>    
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>




      <!--
      <ion-col>                 

      </ion-col>   
      <ion-col>        
          <ion-list>
            <ion-item *ngFor="let licenses of licensesArray">
              <ion-label>Dias de aniversario: {{licenses.anniversaryYear}}</ion-label>
              <ion-select ok-text="" cancel-text="Cerrar">
                <ion-select-option value="1"> daysWithPay {{licenses.daysWithPay}} </ion-select-option>
                <ion-select-option value="2"> qtyDaysWithPay {{licenses.qtyDaysWithPay}} </ion-select-option>
                <ion-select-option value="3"> daysWithHalfPay {{licenses.daysWithHalfPay}} </ion-select-option>
                <ion-select-option value="4"> qtyDaysWithHalfPay {{licenses.qtyDaysWithHalfPay}} </ion-select-option>
                <ion-select-option value="5"> qtyDaysWithoutPay {{licenses.qtyDaysWithoutPay}} </ion-select-option>
                <ion-select-option value="6"> maternity {{licenses.maternity}} </ion-select-option>
                <ion-select-option value="7"> qtyMaternity {{licenses.qtyMaternity}} </ion-select-option>
              </ion-select>      
            </ion-item>                  
        </ion-list>                  
      </ion-col>
      -->